#dashboard_rss .inside {
	margin: 0;
	padding: 0;
}

#dashboard_rss .widget-loading,
#dashboard_rss .dashboard-widget-control-form {
	padding: 0 12px 12px;
}

body #dashboard-widgets .postbox form .submit {
	margin: 0;
}

.dashboard-widget-control-form {
	overflow: hidden;
}

.dashboard-widget-control-form p {
	margin-top: 0;
}

.rssSummary {
	color: #999;
	margin-top: 4px;
}

.rss-widget {
	border-bottom: 1px solid #eee;
	font-size: 13px;
	padding: 8px 12px 12px;
}

.rss-widget:last-child {
	border-bottom: none;
}

.rss-widget a {
	font-weight: normal;
}

.rss-widget span, 
.rss-widget span.rss-date {
	color: #bbb;
}

.rss-widget span.rss-date {
	margin-left: 12px;
}

.rss-widget ul li {
	margin-bottom: 8px;
}