#dashboard_rss .inside {
	padding: 0;
}

#dashboard_rss .widget-loading,
#dashboard_rss .dashboard-widget-control-form {
	padding: 0 12px 12px;
}

.rss-widget {
	border-bottom: 1px solid #eee;
	margin-bottom: 12px;
	padding: 0 12px 12px;
}

.rss-widget:last-child {
	border-bottom: none;
}

.rss-widget a {
	font-weight: normal;
}

.rss-widget span {
	color: #999;
}

.dashboard-widget-control-form {
	overflow: hidden;
}

.dashboard-widget-control-form p {
	margin-top: 0;
}

body #dashboard-widgets .postbox form .submit {
	margin: 0;
}